nav {
    background-color: lightgray;
    text-align: center;
    text-decoration: none;
    padding-bottom: 20px;
}

h1 {
    background-color: black;
    color: white;
    padding: 10px;
}

a {
    margin-right: 20px;
}
