* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    color: #ffffff;
    font-size: 20px;
}

.item {
    height: 100px;
    background-color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 4px;
}

.item.big {
    width: calc(50% - 20px);
}

.item.small {
    width: calc(25% - 20px);
}