.dashboard-container {
    display: flex;
    height: 100vh;
}

/* Section category */
.-section-category {
    font-size: 14px;
    font-weight: 500;
    color: #101828;
    width: 100%;
}
.section-container {
    padding: 0 24px;
}
.btn-log-out {
    padding: 10px 16px;
    color: #344054;
    border: 1px solid #F2F4F7;
    background-color: transparent;
    border-radius: 8px;
    width: 240px;
    cursor: pointer;
    text-align: left;
}

.btn-log-out:hover {
    color: #000000;
    background-color: #F2F4F7;
    transition: 0.3s;
}
