.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 46px;
}
.form {
    width: 480px;
}
.title {
    font-size: 36px;
    font-weight: 600;
    color: #101828;
    margin-bottom: 20px;
}
.description {
    font-size: 20px;
    font-weight: 400;
    color: #667085;
    margin-bottom: 24px;
}
.form-body {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
}
.form-group-name {
    display: flex;
    justify-content: space-between;
    align-items: flex-start ;
    gap: 32px;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}
.form-label {
    font-size: 14px;
    font-weight: 600;
    color: #344054;
}
.form-input {
    width: 100%;
    height: 48px;
    padding: 0 16px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    outline: none;
}
.form-function {
    font-size: 16px;
    font-weight: 500;
    color: #344054;
}
.agree {
    display: flex;
    align-items: center;
    gap: 12px;
}
.agree a {
    color: #007AFF;
    font-weight: 600;
    text-decoration: none;
}
.input-checkbox {
    width: 20px;
    height: 20px;
}
.form-button {
    width: 100%;
    padding: 16px 20px;
    background-color: #007AFF;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 24px;
    cursor: pointer;
}
.form-redirect {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}
.form-redirect a {
    text-decoration: none;
    color: #007AFF;
}


.hidden {
    display: none;
}

@media screen and (max-width: 600px){ 

    .register-container {
        padding: 64px 16px 25px 16px;
    }
    .form {
        width: 450px;
    }
    .form-header {
        text-align: center;
    }
    .title {
        font-size: 28px;
        color: #101828;
        margin-bottom: 16px;
    }
    .description {
        font-size: 18px;
    }
    .form-group-name {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: normal;
    }

    .form-group {
        gap: 6px;
    }
    .show-mobile {
        display: block;
    }

    .hidden-mobile {
        display: none;
    }
}