/* Đây là các style sẽ dùng chung giành cho các trang trong dự án */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --background-white: #ffffff;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

.container {
    margin-left: 160px;
    margin-right: 160px;
}

.section-container {
    font-size: 14px;
    font-weight: 500;
    color: #101828;
    flex: 1;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul li {
    list-style: none;
}

.btn-premium {
    padding: 16px 56px;
    font-size: 16px;
    border: 1px solid var(--background-white);
    border-radius: 6px;
    width: 187px;
    color: var(--background-white);
    background-color: transparent;
    cursor: pointer;
}

.btn-premium:hover {
    background-color: var(--background-white);
    color: #000000;
    transition: 0.3s;
}

/* Aside */
.main-container {
    display: flex;
    height: 100vh;
}

.aside {
    width: 240px;
    background-color: #F6F8F9;
    padding: 16px 14px 0 14px;
    font-size: 14px;
    font-weight: 400;
    color: #3F3F46;
}

.aside .aside-list:hover {
    color: #0E73F6;
    background-color: #D7EDFF;
    border-radius: 6px;
}

.aside .aside-list:active {
    color: #0E73F6;
    background-color: #D7EDFF;
    border-radius: 6px;
}

.aside-title {
    margin-bottom: 16px;
}

.aside i {
    width: 24px;
}

.aside-list {
    display: flex;
    align-items: baseline;
    gap: 8px;
    padding: 4px 12px 4px 8px;
    color: #3F3F46;
}

/* Section header */
.main {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.header-nav {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid #E5E9EB ;
    padding: 10px 24px;
}
.header-nav i {
    color: #B0BABF;
    width: 36px;
}
.header-nav i:hover {
    color: #4094F7;
}
.header-nav i:active {
    color: #4094F7;
}
.user-img {
    width: 36px;
    height: 36px;
}
.header-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 11px;
}
.title {
    font-size: 24px;
    font-weight: 700;
    color: #252C32;
}
.btn-add {
    background-color: #4094F7;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: #F6F8F9;
    padding: 8px 18px 8px 12px;
}
.header-interaction {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 8px;
    margin-bottom: 11px;
}
.status-bar {
    font-size: 16px;
    font-weight: 400;
    color: #101828;
}
.status-select {
    width: 259px;
    border: 1px solid #E7EAEE;
    border-radius: 4px;
    padding: 10px 42px 10px 16px;
}
.status-select option {
    border: 1px solid #F2F4F7;
    cursor: pointer;
}

.status-select option:hover {
    background-color: #F9FAFB;
}
.search-bar {
    position: relative;
    color: #64748B;
}
.search-bar input {
    border: 1px solid #E7EAEE;
    border-radius: 4px;
    padding: 10px 57px 10px 16px;                      ;
}
.search-bar i {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 16px;
    height: 16px;
}

.btn-close {
    background-color: transparent;
    border: none;
}

/* Section category */
.section-main {
    text-align: left;
}
.table-list {
    margin-bottom: 24px;
}
.table {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #eaecf0;
}
.thead {
    height: 44px;
    background-color: #F9FAFB;
    text-align: left;
    color: #667085;
}

.thead tr th {
    padding: 13px 24px;
    color: #667085;
    font-weight: 400;
}
.tbody tr {
    height: 72px;
    border-bottom: 1px solid #eaecf0;
}

.tbody tr td {
    padding: 26px 24px;
    color: #101828;
    font-weight: 500;
}


.tbody tr td i {
    font-size: 20px;
}

.fa-trash {
    color: #ff0000;
}

.fa-pen {
    color: #ffa703;
}

.box-status {
    height: 22px;
    padding: 2px 8px;
    border-radius: 16px;
    background-color: #ecfdf3;
    display: flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
}

.bg-active {
    background-color: #ecfdf3;
}

.bg-inactive {
    background-color: #fef2f2;
}

.dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.dot-active {    
    background-color: #12b76a;
}

.dot-inactive {
    background-color: #b91c1c;
}

.status-text {
    font-size: 12px;
    font-weight: 500;
    color: #12b76a;
}

.text-active {
    color: #12b76a;
}

.text-inactive {
    color: #b91c1c;
}

/* Pagination */

.pagination {
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.pagination button {
    height: 32px;
    width: 32px;
    border-radius: 4px;
    color: #051B44;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #D8DAE5;

}

.pagination button i {
    font-size: 16px;
}

.pagination button:active {
    color: #ffffff;
    background-color: #0066ff;
}

/* Overlay */
.overlay {
    position: fixed;
    inset:0;
    background-color: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
    color: #344054;
}

.form {
    background-color: #ffffff;
    width: 700px;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.form-title-group {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.form-title-group i {
    color: #000000;
    font-size: 16px;
}

.form-title {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 24px;
}

.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 23px;
    margin-bottom: 24px;
}

.form-container {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 6px;
}

.form-input {
    padding: 12px 16px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.form-410 {
    width: 410px;
}

.mb-24 {
    margin-bottom: 24px;
}

.width-266 {
    width: 266px;
}

.width-275 {
    width: 275px;
}

.form-item {
    font-size: 14px;
    font-weight: 600;
}

.form-item span {
    color: #ff0000;
}

.checkbox-container {
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 21px;
}

.checkbox-group {
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 8px;
}
.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
}

.checkbox label {
    font-weight: 400;
    color: #000000;
}

.button-group {
    border-top: 1px solid #A1A1AA;
    padding-top: 24px;
    display: flex;
    justify-content: right;
    gap: 12px;
}

.btn-overlay {
    border: 1px solid #E4E4E7;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    padding: 13px 20px;
    background-color: #ffffff;
    cursor: pointer;
}

.btn-overlay:hover {
    color: #ffffff;
    background-color: #007AFF;
}

.btn-group button{
    background-color: transparent;
    border: none;
}

.text-error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 10px;
}

.text-success {
    color: #43f143;
    margin-top: 10px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 600px) {
    .show-mobile {
        display: block;
    }

    .hidden-mobile {
        display: none;
    }
}