div {
    text-align: center;
    background-color: lightgoldenrodyellow;
    padding: 20px;
}

h1 {
    color: blue;
    font-weight: bold;
}

button {
    background-color: lightgray;
    border-radius: 4px;
    padding: 10px 20px;
}

button:hover {
    background-color: green;
    color: white;
}