.content {
    color: white;
    position: absolute;
    bottom: 0;
    left: 20px;
    font-weight: bold;
    font-size: larger;
}

h3 {
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: white;
}

.symbol {
    border-radius: 1px solid 50% white;
}