* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    height: 100vh;
    background-color: hsl(210deg 16.67% 97.65%);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 18px #e6e7e8;
}

.form-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}
.form form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.form label {
    font-weight: bold;
    padding-bottom: 4px;
}

.form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 6px;
}
.bnt {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background-color: #007bff;
    border: none;
    color: #ffffff;
    font-size: 16px;
    border-radius: 6px;
}

.bnt:hover {
    background: #005fcc;
}