* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: #f1f1f1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.flex-item {
    width: calc(25% - 20px);
    background-color: #3498db;
    color: #ffffff;
    padding: 30px;
    text-align: center;
    border-radius: 4px;
}

.flex-item.large {
  width: calc(50% - 20px);
}