* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
}

.header {
    display: flex;
    background-color: #4caf50;
    color: #ffffff;
    padding: 20px;
    justify-content: space-between;
}

.header-title {
    font-size: 20px;
    font-weight: 500;
}

.header-list {
    display: flex;
    gap: 20px;
}

.header-list li {
    list-style: none;
}

.header-list a {
    text-decoration: none;
    color: #ffffff;
}

.content {
    padding: 100px;
    background-color: #f4f4f4;
    text-align: center;
    justify-content: center;
}

.content-title {
    font-size: 32px;
    font-weight: 600;
}

.content p {
    padding: 20px 0;
}
.bnt {
    padding: 10px 30px;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
}

.feature { 
    padding: 20px 10px;
    justify-content: center;
    align-items: center; 
}

.feature-list ul {
    display: flex;
    justify-content: space-between;
}

.feature-list li {
    background-color: #dddddd;
    border-radius: 4px;
    list-style: none;
    padding: 20px 100px;
}

.feature-list li a {
    text-decoration: none;
    color: #807f7f;
}

.contact {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}
