* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#main {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #090707;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 120px 24px 118px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 46px;
}
.list-link {
    display: flex;
    gap: 27px;
}

.link-item {
    text-decoration: none;
    color: #ffffff;
}

.button {
    height: 50px;
    border-radius: 5px;
    width: 204px;
    border: 1.5px solid #ffffff;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    background-color: transparent;
}

.button:hover {
    cursor: pointer;
    opacity: 0.1; /* độ trong suốt 0-1 trong suốt đến tối mịt */
}

.button-transparent {
    border: 1px solid #ffffff;
    background-color: transparent;
}

.button-primary {
    border-color: transparent;
    background-color: #3375ed;
}

.banner {
    width: 914px;
    height: 335px;
    margin: 0 auto; /* khi biết trước kích thước dùng margin 0 auto nó sẽ tự động căn ra giứa*/
    color: #ffffff;
    text-align: center;
    margin-top: 112px;
}

.banner-title {
    font-size: 65px;
    font-weight: 700;
}

.text-strong {
    color: #3775ed;
}

.banner-description {
    margin: 47px 0 56px 0;
    font-size: 22px;
    font-weight: 400;
}

.button-groups {
    display: flex;
    gap: 23px;
    justify-content: center;
}

.banner-image {
    margin-top: 54px;
    justify-content: center;
    display: flex;
}

.image {
   
}

