div {
    background-color: gray;
    width: 200px;
    padding: 60px 50px;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}

div:hover {
    padding: 50px 40px;
    border: 10px solid blue;
}
