/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  position: relative;
  height: 100vh;
}

.container {
  padding: 30px;
  background-color: #f2f2f2;
  display: flex;
}

.content {
    color: #191919;
    padding: 0 30px;
    justify-content: center;
    align-items: center; 
    position: relative;
}

.content span {
    position: absolute;
    border: 3px solid #356479;
    border-radius: 50%;
    top: 10px;
}

.content a {
    color: #356479;
    font-weight: 300;
    text-decoration: none;
    margin-left: 20px;
}

.content p {
    padding-bottom: 20px;
}

.image-item {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.title {
  font-size: 24px;
  font-weight: 600;
  padding: 12px 0;
  color: #3d3d3d;
}

.info {
    color: #848484;
}

.info {
    display: flex;
    justify-self: start;
    gap: 40px;
}

.info li {
    list-style: none;
}