/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  position: relative;
  height: 100vh;
}

.container {
  width: 600px;
  border: 1px solid #dadada;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
}

.header {
  border-left: 5px solid #ff6116;
  margin-bottom: 12px;
}

.header-title {
  margin-left: 12px;
  text-transform: uppercase;
}

.image-group {
  position: relative;
}

.image-item {
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: 5    00;
  color: #fdfdfd;
  padding: 30px;
  position: absolute;
  bottom: 0;
}

.driven {
  border-top: 1px solid #eaeaea;
  margin: 12px 0;
}