div {
    padding: 10px;
}

input {
    width: 300px;
}

textarea {
    width: 300px;
}

button {
    width: 300px;
    padding: 10px;
    border-radius: 4px;
    border: lightgreen;
    background-color: lightgreen;
    color: white;
}