* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    height: 100vh;
    color: #fefcf7;
}

.container {
    /* padding: 20px; */
}

.header {
    background-color: #282c34;
    justify-items: center;
    display: flex;                 /* cho các phần tử nằm trên cùng 1 dòng */
    justify-content: space-between;/* h1 bên trái – menu bên phải */
    padding: 50px 20px 30px;
}

.header-title {
    left: 20px;
}

.header-list {
    display: flex; 
    list-style: none;
    gap: 20px;
}

.header-list li a {
    text-decoration: none; 
    color: #ffffff;
    font-size: 12px;
    font-weight: 500;
}

.intro {
    display: flex;
    background-color: #f0f0f0;
    padding: 40px 30px;
    justify-content: center;
    align-items: center; 
}
.portrait {
    width: 200px;
    border: 3px solid #262a32;
    border-radius: 50%;
}

.greeting {
    font-weight: 600;
    font-size: 18px;
    color: #1d1812;
    padding-left: 40px;
}

.my-projects {
    font-size: 18px;
    font-weight: 200;
    padding: 40px 20px 20px;
    justify-content: center;
    align-items: center; 
}

.my-projects-title {
    font-size: 24px;
    font-weight: 700;
    color: #000000;
    padding-bottom: 20px;
}

.projects-list ul {
    color: #fff7e8;
    display: flex;
    gap: 40px;
    justify-content: space-between;

}

.projects-list li {
    background-color: #282c34;
    border: 1px solid #282c34;
    border-radius: 4px;
    list-style: none;
    padding: 20px 100px;
}

.projects-list li a {
    text-decoration: none;
    color: #fff7e8;
}

.projects-list li a:hover {
    color: #2adbe5;
}

.contact {
    padding: 20px;
    background-color: #f0f0f0;
    color: #2d3324;
    text-align: center;
    position: relative;
}

.contact a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.contact a:hover {
    color: #2adbe5;
}

.contact span {
    margin: 0 5px;
    border: 1px solid #000000;
    transform: rotate(50%);
}
