div {
    background-color: gray;
    width: 200px;
    padding: 60px 50px;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
    border-radius: 0;    
}

div:hover {
    border-radius: 50%; 
    transition: all 0.2s ease;
}   